{% extends 'base.html.twig' %}

    {# titre #}
    {% block title %} 
        Accueil
    {% endblock %}
        
    {# header #}
    {% block header %}
        <h2>Voici le header</h2>
    {% endblock  %}

{% block body %}

<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur GSB!</h1>
        <p class="lead">Nous mettons en relation les praticiens avec leurs visiteurs</p>
        <hr class="my-4">
        <p> Vous êtes un délégué médical et vous avez besoin de démarcher nos praticiens ?</p>
      
    </div>



{% endblock %}