{% extends 'base.html.twig' %}

    {# titre #}
    {% block title %} 
        Yooo ! Ici c'est le best réseau!
    {% endblock %}
        
    {# header #}
    {% block header %}
        <h2>Voici le header</h2>
    {% endblock  %}

{% block body %}

<div class="class container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur GSB!</h1>
        <p class="lead">Nous mettons en relation les praticiens avec leurs visiteurs</p>
        <hr class="my-4">
        <p> Vous êtes un délégué médical et vous avez besoin de démarcher nos praticiens ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos praticiens</a>
        </p>
    </div>

    

{% endblock %}