{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="container">
    <h1 calss="my-3">Voici les rapports de visites</h1>

    <div class="row">
        {% for i in 0..20 %}
            <div class="col-md-4">
                <div class="car bg-light mb-3">
                    <div class="card-header text-center">
                        Test
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
